{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
    </div>
    <a href="{% url 'create_user' %}" class="btn btn-success mb-3 float-right"><span data-feather="plus-circle"></span> Add user</a>
    <div class="table-responsive">
        <table id="users-list" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'detail_user' user.email %}">{{user.first_name}}</a></td>
                <td>{{user.last_name}}</td>
                <td>{{user.age}}</td>
                <td>{% if user.sex == '1' %}Man{% elif user.sex == '2' %}Woman{% endif %}</td>
                <td>{{user.email}}</td>
                <td>{{user.date_joined}}</td>
                <td>
                    <button data-href="{% url 'update_user' user.email %}" type="button" class="btn btn-sm btn-primary"><span data-feather="edit"></span></button>
                    <button data-href="{% url 'detail_user' user.email %}" type="button" class="btn btn-sm btn-secondary"><span data-feather="eye"></span></button>
                    <button data-href="{% url 'delete_user' user.email  %}" type="button" class="btn btn-sm btn-danger"><span data-feather="trash-2"></span></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
